# OS metadata
.DS_Store
Thumbs.db

# Environment variables
.env
.env.local
.env.development
.env.test
.env.production

# IDEs and Editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Node modules and build output (Fallback for root or accidently running npm install at root)
node_modules/
dist/
build/
coverage/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
